$red: #DE2910;
$yellow: #FFDE00;
$blue: #0169D9;
$darkYellow: rgb(219, 190, 0);
$lightGrey: #F2F2F2;

body {
  background-image: url("class-image.png");
  background-repeat: no-repeat;
  background-size: 2100px;
  background-position-x: -650px;
  background-position-y: -100px;
  
}