$red: #DE2910;
$yellow: #FFDE00;
$blue: #0169D9;
$darkYellow: rgb(219, 190, 0);
$lightGrey: #F2F2F2;

html {
  height: 100%;
}

$darkness: 0.3;
body {
  background: linear-gradient(rgba(0, 0, 0, $darkness), 
  rgba(0, 0, 0, $darkness)), url("class-image.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: center;
}

// For computer-sized viewports
@media (min-width: 1306px) {
  body {
    background-size: 100%;
  }
}


/***
 * FUTURE REFERENCE
 * If you know how to use javaScript, try to make the background image obey 
 * the if statement below so that there is never whitespace.
 *
 * If the viewport becomes wider than the image
 * if (viewport_width > image_width)
 * if (viewport_width > viewport_height * (image_width / image_height))
 */