$red: #DE2910;
$yellow: #FFDE00;
$blue: #0169D9;
$darkYellow: rgb(219, 190, 0);
%vertically-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.navbar {
    height: 60px;
    background-color: $yellow;
    // Turns text in btn-buy to yellow when hovered
    :hover {
        color: $yellow;
    }
}
.navbar-brand {
    background-color: $red;
    margin-left: 50px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    transform: translateY(25%);
    border-style: solid;
    border-width: thick;
    border-color: darkred;
    .subtitle {
        font-family: Comic Sans MS, Comic Sans, cursive;
        font-style: italic;
        font-size: 23.35px;
        margin-bottom: 0px;
        color: $yellow;
    }
    .title {
        font-family: Luminari, fantasy;
        font-size: 80px;
        margin-top: 0px;
        margin-bottom: 3px;
        color: $yellow;
    }
}
.nav-item {
    .nav-item-text {
        color: $blue;
    }
    .nav-item-text-active {
      color: $red;
      text-decoration: underline;
  }
    :hover {
        color: $red;
    }
}
.dropdown-menu {
    background-color: $darkYellow;
}
.navbar-text {
    margin-left: 20px;
    margin-right: 20px;
    @media (max-width: 1132px) {
        visibility: hidden;
    }
    .navbar-text-text {
        color: black;
        .navbar-text-heading {
            text-decoration: underline;
            color: black;
        }
    }
}
.navbar-btn-buy {
    width: 75px;
    font-family: "Arial Black";
    font-size: 20px;
}
@media (max-width: 991px) {
    .navbar-collapse {
        background-color: $darkYellow;
    }
    .navbar-brand {
        margin-top: -8px;
        height: 60px;
        margin-left: 20px;
        transform: none;
        border-width: thin;
        .subtitle {
            font-size: 13px;
            margin: 0px;
        }
        .title {
            font-size: 30px;
            margin: 0px;
        }
    }
}