$red: #DE2910;
$yellow: #FFDE00;
$blue: #0169D9;
$darkYellow: rgb(219, 190, 0);
$lightGrey: #F2F2F2;

%center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.page-title {
    margin-top: 100px;
    margin-bottom: 20px;
    @extend %center;
    text-align: center;
    @media (max-width: 1070px) {
        margin-top: 150px;
    }
    @media (max-width: 991px) {
        margin-top: 100px;
    }
}
li {
    margin-top: 5px;
    margin-bottom: 5px;
}
#ingredients {
    border: 1px solid black;
    padding-top: 13px;
}
@media (max-width: 767px) {
    #ingredients {
        visibility: hidden;
        font-size: 0px;
    }
}