$red: #DE2910;
$yellow: #FFDE00;
$blue: #0169D9;
$darkYellow: rgb(219, 190, 0);
$lightGrey: #F2F2F2;
%vertically-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Large Screens
@media (max-width: 1199px) {
    
    
    
}
// Medium Screens
@media (max-width: 991px) {
    
    
    
}
// Small Screens
@media (max-width: 767px) {
    
    
    
}
// Extra small screens
@media (max-width: 575px) {
    
    
    
}